@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: sans-serif;
}
nav{
    display: flex;
    padding: 24px;
    background: rgb(2, 2, 27);
    justify-content: space-between;
    color:#fff;
    font-size: large;
}
.user{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}
i{
    animation: 0.3s ease;
}
i:hover{
    background: rgb(41, 41, 43) ;
    border-radius: 8px;
    border: 0.5px solid gray;
    padding: 8px;
}
.head{
    font-family: poppins ;
    font-size: 1.4rem;
}
p{
    color:#fff;
}
i{
    color: #fff;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: inherit;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    background: #223344;
    color: #fff;
    width: 340px;
    align-items: left;
    padding: 12px;
    position: fixed;
    right: 0;
    border-radius: 0 0 0 8px ;
    gap:10px;
    animation: 0.3s ease;
    transform: translateX(100%);
}
.active{
transform: translateX(0);
}
section a{
    font-weight: normal;
    font-family: Poppins;
    font-size: medium;

}
section a:hover{
    border:0.5px solid gray;
    padding:12px;
    border-radius: 8px;
}
body{
    background: #f2f4f6;
}
#close{
    cursor: pointer;
    margin-left: 295px;
    font-size: 1.4rem;
    border: 0.5px solid gray;
    border-radius: 50%;
    padding: 4px;
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
#close:hover{
    background-color: #3b3c3d;
}
